
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Browser</title>
</head>

<body>
 
  <input id='inp'>
    <button  type='submit' onsubmit='clicked()'>submit</button>
  
  <script>
  function clicked(){
      console.log(event.target)
     const {value}=event.target  
      console.log('value of input is: '+value)
                     }
                                      
  </script>
</body>

</html>